/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
  }
  /* Row */
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  /* Row Clear Float*/
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Media Query excludes extra small devices and includes small and above */
  [class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }