@import 'normalize.css';

.box1 {
border:5px solid black;
height:500px;
}
[class="col-"] {
    width:100%;
}
@media (max-width:767px) {
.box { 
    background-color:green;
    }
    .col-1{
        max-width:50%;
        height:300px;
    }
}