@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width/2;
}

@mixin flexbox-display {
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
}


/*Note: The attribute flex: is a combination of flex-grow, flex-shrink, and flex-basis. The default is flex: 0 1 auto;.*/

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -webkit-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow:  $values;
}
/* flexbox mix in for order */
@mixin order ($values ) {
  -webkit-box-order: $values;
  -moz-box-order:  $values;
  -webkit-order:  $values;
  -ms-order:  $values;
  flex-order:  $values;
} 