/***************************
Logo Modules
***************************/
.logo {
  overflow: hidden;
  display: inline-block;
}
.logo-primary {
  width: 64px;
  height: 64px;
  @include small-and-above {
    width: auto;
    height: 50px;
    /* In a Flexbox container, a margin set to auto will absorb the extra space. This is why the logo pulls to the left side of the container.*/
    margin-right: auto;    
  }
}
.logo-primary img {
  height: 100%;
}